 html,
 body,
 #root {
     height: 100%;
 }

 /* begin Leaderboards component styling */

 #home-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
 }

 #home-container>* {
     display: flex;
     justify-content: center;
     margin: auto 0;
 }

 #greeting {
     position: relative;
     top: 0px;
     margin: 0;
 }

 #leaderboards-container>* {
     border: 2px solid black;
     width: 200px;
     height: auto;
     margin: 10px auto;
 }

 /*end Leaderboards component styling */

 /* begin Objectives component styling */
 #easy-mode {
     display: none;
 }

 #medium-mode {
     display: none
 }

 #hard-mode {
     display: none;
 }

 /* end Objectives component styling */