 html,
 body,
 #root {
     height: 100%;
     overflow: auto;
 }

 /* begin Leaderboards component styling */

 #home-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
 }

 #home-container>* {
     display: flex;
     justify-content: center;
     margin: auto 0;
 }

 #greeting {
     position: relative;
     top: 0px;
     margin: 0;
 }

 #leaderboards-container>* {
     border: 2px solid black;
     width: 200px;
     height: auto;
     margin: 10px auto;
 }

 /*end Leaderboards component styling */

 /*begin Objectives component styling */
 #easy-mode {}

 #medium-mode {}

 #hard-mode {}

 /*end Objectives component styling */

 /*begin PhotoTagging component styling */
 #photo-tagging-container {
     display: flex;
     justify-content: center;
     background-color: rgba(54, 51, 51, 0.5);
     height: 100%;
     overflow: scroll;
 }

 #photo-tagging-image {
     margin: auto;
     background-image: url(./media/image233.png);
     height: 643px;
     width: 1470px;
     overflow: scroll;
 }


 #coordinate-tracker {
     position: absolute;
     bottom: 0px;
     left: 0px;
     height: 50px;
 }

 #coordinates-tool {
     display: flex;
     justify-content: center;
     position: absolute;
     width: 50px;
     height: 50px;
     border: 2px solid cyan;
     resize: both;
     overflow: auto;
 }

 #coordinates-tool-drag {
     margin: auto;
     border: 2px solid cyan;
     padding: 5%;
     color: cyan;
 }

 /*end PhotoTagging component styling */